Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the
range of 1 to 25.

In [ ]:
def test():

Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs
to demonstrate their use.

*args is use to make list and **kwargs is use to make dictionery.

def test1(*args):
    return args

In [3]:
test1(1,2,3,4)

(1, 2, 3, 4)

In [4]:
def test2(**kwargs):
    return kwargs

In [5]:
test2(a = "vikky", b = [1,3,5,6], c = True)

{'a': 'vikky', 'b': [1, 3, 5, 6], 'c': True}

Q3. What is an iterator in python? Name the method used to initialise the iterator object and the method
used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14,
16, 18, 20].

an iterator is an object that contain a countable of values.
iter() is used to initialise the iterator object and the method used for iteration.

In [6]:
l = [2, 4, 6, 8, 10, 12, 14,16, 18, 20]

In [7]:
for i in l :
    print(i)
    if i == 10 :
        break

2
4
6
8
10

Q4. What is a generator function in python? Why yield keyword is used? Give an example of a generator
function.

A Python generator function allows you to declare a function that behaves like an iterator, providing a faster and easier way to create iterators. They can be used on an abstract container of data to turn it into an iterable object like lists, dictionaries and strings.

to control the generator functions yield keyword is used .

In [1]:
def test_fib(n):
    a,b = 0,1
    for i in range(n) :
        yield a
        a,b = b , a+b

Q5. Create a generator function for prime numbers less than 1000. Use the next() method to print the
first 20 prime numbers.

In [3]:
primes = []
for possiblePrime in range(2, 999):
    isPrime = True
    for num in range(2, possiblePrime):
        if possiblePrime % num == 0:
            isPrime = False
      
    if isPrime:
        primes.append(possiblePrime)

In [4]:
primes

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997]

Q6. Write a python program to print the first 10 Fibonacci numbers using a while loop.

In [6]:
def test_fib1():
    a,b = 0,1 
    while True:
        yield a
        a,b = b , a+b

In [9]:
fib = test_fib1()

In [10]:
for i in range(12):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34
55
89

Q7. Write a List Comprehension to iterate through the given string: ‘pwskills’.
Expected output: ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [12]:
s ="pwskills"
s = "pwskills"
list(map(lambda s : s.upper() , s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

Q9. Write a code to print odd numbers from 1 to 100 using list comprehension.

In [13]:
odd_list = [element for element in range(1, 101) if element % 2 == 1 ]
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]